[submodule "opt/vim-colors-solarized"]
	path = opt/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "start/nerdtree"]
	path = start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "test/t"]
	path = test/t
	url = git@github.com:ashcoll/test.git
[submodule "test/ashcoll-test"]
	path = test/ashcoll-test
	url = git@github.com:ashcoll/ashcoll.git
[submodule "start/ctrlp"]
	path = start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
