[submodule "opt/vim-colors-solarized"]
	path = opt/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "start/nerdtree"]
	path = start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "test/test"]
	path = test/test
	url = git@github.com:ashcoll/test.git
